<footer class="footer">
  <div class="test">
    <img class="footer-logo" src="/imgs/Logo.svg" alt="main-logo" />
    <h3 class="footer-heading">Rustica</h3>
    <p class="footer-subheading">Café & Rösterei</p>
  </div>
  <div class="address-and-times">
    <div class="address">
      <p>Komm uns besuchen!<br />Fraunhoferstr. 13, Kiel</p>
    </div>
    <div class="times">
      <p>Mo – Fr 8–18 Uhr<br />Sa 11–18 Uhr</p>
    </div>
  </div>
  <div class="footer-links">
    <div class="impr-and-privacy">
      <a href="imprint/index.html">Impressum</a>
      <br />
      <a href="dsgvo/index.html">Datenschutz</a>
      <a href="contact/index.html"></a>
    </div>
    <div class="site-links">
      <a href="thecafe/index.html">Café</a>
      <br />
      <a href="origin/index.html">Herkunft</a>
      <br />
      <a href="shop/index.html">Shop</a>
    </div>
  </div>
</footer>
