<header class="header">
    <!-- Mobile navigation bar starts here -->
    <nav class="mobile-navbar">
      <div class="main-logo">
        <a href="index.html"><img src="/imgs/Logo.svg" alt="main-logo"></a>
      </div>
      <!-- Mobile menu, that slides in when burger svg gets clicked and closes when close svg gets clicked -->
      <div id="mobile-menu" class="mobile-menu">
        <div id="click-close" class="close-burger-menu">
          <svg alt="close-burger-menu" width="21" height="22" viewBox="0 0 21 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 2L10.5 11M19.5 20L10.5 11M10.5 11L1.5 20M10.5 11L19.5 2" stroke="white" stroke-width="3" />
          </svg>
        </div>
        <ul>
          <li><a href="thecafe/index.html">das Café</a></li>
          <li><a href="origin/index.html">Herkunft</a></li>
          <li><a href="shop/index.html">Shop</a></li>
         </ul>
      </div>
      <div id="click-open" class="burger-menu">
        <img src="/imgs/Burger Menu.svg" alt="burger-menu">
      </div>
    </nav>
    <!-- Mobile navigation bar ends here -->
    <!-- Desktop navigation bar starts here -->
    <nav class="desktop-menu">
      <!-- "desktop-navbar" -->
      <div class="main-logo">
        <a href="index.html"><img src="/imgs/Logo.svg" alt="main-logo"></a>
      </div>
      <ul class="desktop-menu">
        <li><a href="thecafe/index.html">das Café</a></li>
        <li><a href="origin/index.html">Herkunft</a></li>
        <li><a href="shop/index.html">Shop</a></li>
      </ul>
    </nav>
    <!-- Desktop navigation bar ends here -->
    <h1 class="main-heading">Rustica</h1>
    <p class="sub-heading">Bio und Fair seit 1991</p>
    <a class="to-shop-button" href="shop/index.html">zum Shop</a>
  </header>