@import "../../node_modules/normalize.css/normalize.css";
@import "variables";
@import "base";
@import "mixins";
@import "components/hero";

/**************************************************** MAIN PAGE BEGINNING ****************************************************/

/**************************************************** HEADER - BEGINNING ****************************************************/

.header {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/FEND-Coffee-latte-art-3.png); /*image still scaling weird?*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-white;

  @include for-size(media-xxl) {
    height: 65vh;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;

    @include for-size(media-lg) {
      display: none; //sollte über visibility
    }

    .main-logo {
      margin-left: 24px;
      width: 35px;
      height: 35px;
    }

    .burger-menu {
      margin-right: 25.5px;
      width: 24px;
      height: 16px;
      cursor: pointer;
    }
  }

  .desktop-menu {
    display: none;

    @include for-size(media-lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      overflow: hidden;
      padding: 0;
      width: 100%;
      height: 55px;
    }

    .main-logo {
      margin-left: 103px;
      width: 35px;
      height: 35px;
    }

    li {
      width: 72px;
      height: 21px;
      margin: 0 100px 0 0;

      & a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: $color-white;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background: #fff;
          transition: width 0.2s ease;
          -webkit-transition: width 0.2s ease;
        }

        &:hover:after {
          width: 60%;
          left: 0;
          background: #fff;
        }
      }
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $color-black;
    overflow-x: hidden;
    transition: 0.5s;

    & ul {
      margin-top: 251px;
      margin-left: 60px;
      padding: 0;
      transition: 0.5s;

      & li {
        width: 127px;
        height: 38px;
        list-style: none;

        & a {
          font-style: normal;
          font-weight: 900;
          font-size: $h3-mobile;
          line-height: 21px;
          text-decoration: none;
          color: $color-white;
        }
      }
    }
    
    .close-burger-menu {
      width: 23.5px;
      height: 12.5px;
      padding: 21px 24.5px 0 0;
      cursor: pointer;
      align-self: flex-end;
    }
  }

  .main-heading {
    width: 218px;
    height: 75px;
    margin: 140px 0 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: $h1-mobile;
    line-height: 75px;
    text-align: center;

    @include for-size(media-lg) {
      width: 327px;
      height: 110px;
      //margin: 80px 0 0 0;
      font-size: $h1-desktop;
      line-height: 110px;
    }
  }

  .sub-heading {
    width: 174px;
    height: 21px;
    margin: 5px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: $body-text-mobile;
    line-height: 21px;
    text-align: center;

    @include for-size(media-lg) {
      font-size: $body-text-desktop;
    }
  }

  .to-shop-button {
    width: 163px;
    height: 48px;
    margin: 100px 0 60px 0;
    border-radius: 5px;
    border: 2px solid $color-anthrazit;
    box-sizing: border-box;
    padding: 15px 45px 15px 45px;
    color: $color-white;
    text-decoration: none;
    background-color: $color-anthrazit;

    &:hover {
      border: 2px solid $color-mediumgrey;
      background-color: $color-mediumgrey;
    }

    &:active {
      border: 2px solid $color-kraftpaper;
      background-color: $color-kraftpaper;
    }
  }
}

/**************************************************** HEADER - END ****************************************************/

/**************************************************** SECTION "RÖSTEREI & CAFÉ" - MAIN PAGE - BEGINNING ****************************************************/

.roasting-and-coffeeshop {
  display: flex;
  flex-direction: column;
  //min-width: 327px;
  width: 90vw;
  height: 382px;
  margin: 60px auto 0 auto;

  @include for-size(media-lg) {
    flex-direction: row;
    height: auto;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;

    @include for-size(media-lg) {
      width: 50%;
      min-height: 100%;
      margin: 0;
    }

    h2 {
      font-size: $h2-mobile;
      font-weight: 900;
      line-height: 34px;
      margin: 0 72px 20px 0;

      @include for-size(media-lg) {
        margin: 0 72px 20px 5px;

        font-size: $h2-desktop;
        line-height: 56px;
      }
    }

    .info {
      font-style: normal;
      font-weight: normal;
      font-size: $body-text-mobile;
      width: 327px;
      height: 54px;
      line-height: 18px;
      margin: 0 0 20px 0;

      @include for-size(media-lg) {
        font-size: $body-text-desktop;
        width: 507px;
        height: 48px;
        line-height: 24px;
      }
    }

    .address-and-times {
      display: flex;

      .address {
        width: 156px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: $body-text-mobile;
        line-height: 18px;
        margin: 0 17px 0 0;

        @include for-size(media-lg) {
          width: 298px;
          height: 42px;
          font-size: $body-text-desktop;
          line-height: 24px;
        }
      }

      .times {
        width: 153px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: $body-text-mobile;
        line-height: 18px;
        margin: 0 1px 0 0;

        @include for-size(media-lg) {
          font-size: $body-text-desktop;
          width: 154px;
          height: 40px;
          line-height: 24px;
        }
      }
    }
  }

  .shop-image-container {
    align-self: flex-end;
    width: 241px;
    height: 182px;

    .shop-image {
      max-width: 100%;

      @include for-size(media-lg) {
        //height: 391px;
      }
    }

    @include for-size(media-lg) {
      align-self: flex-start;
      width: 50%;
      height: 100%;
    }
  }
}

/**************************************************** SECTION "RÖSTEREI & CAFÉ" - MAIN PAGE - END ****************************************************/

/**************************************************** SECTION "BIO UND FAIR" - MAIN PAGE - BEGINNING ****************************************************/

.bio-and-fair {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 340px;
  margin: 40px auto 60px auto;

  @include for-size(media-lg) {
    flex-direction: row-reverse;
    height: auto;
  }

  .section-heading-and-text {
    h3 {
      font-size: $h3-mobile;
      font-weight: 900;
      line-height: 37.5px;
      margin: 12px 0 0 0;

      @include for-size(media-lg) {
        font-size: $h3-desktop;
        padding: 50px 100px 0 100px;
        margin: 0;
      }
    }

    p {
      font-size: $body-text-mobile;

      @include for-size(media-lg) {
        font-size: $body-text-desktop;
        padding: 0 100px 0 100px;
      }
    }

    @include for-size(media-lg) {
      align-self: center;
      width: 50%;
      min-height: 100%;
      margin: 0;
    }
  }

  .plant-image-container {
    width: 241px;
    height: 182px;

    margin: 20px 86px 0 0;

    .plant-image {
      max-width: 100%;
    }

    @include for-size(media-lg) {
      width: 50%;
      height: 100%;
      margin: 0;
    }
  }
}

/**************************************************** SECTION "BIO UND FAIR" - MAIN PAGE - END ****************************************************/

/**************************************************** SECTION "ENTDECKE UNSERE KAFFEE SORTEN" - MAIN PAGE - BEGINNING ****************************************************/

.sorts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 910px;
  background-color: $color-anthrazit;

  @include for-size(media-lg) {
    height: auto; //das gar nicht Mal so geil ..
  }

  h2 {
    color: white;
    width: 309px;
    height: 68px;
    margin: 60px 45px 0 21px;
    font-size: $h2-mobile;
    font-weight: 900;
    line-height: 34px;

    @include for-size(media-lg) {
      width: 402px;
      height: 119px;
      font-size: $h2-desktop;
      line-height: 56px;
      margin: 60px 45px 0 130px;
    }
  }

  .sorts-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px 0 0 0;

    @include for-size(media-lg) {
      margin: 80px 0 0 0;
    }

    .item {
      color: $color-lightgrey;
      width: 155px;
      height: 277px;
      margin: 0 0 41px 0;

      .coffee-image {
        background-color: $color-lightgrey;
        width: 100%;
      }

      .sorts-subheading {
        color: $color-white;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        margin: 11px 0 0 0;
      }

      .pricing {
        color: $color-mediumgrey;
        font-style: normal;
        font-weight: normal;
        font-size: $body-text-mobile;
        line-height: 21px;
        margin: 0 0 5px 0;

        @include for-size(media-lg) {
          font-size: $body-text-desktop;
        }
      }

      @include for-size(media-lg) {
        width: 299px;
        height: 399px;
      }
    }

    .small-logo {
      @include for-size(media-lg) {
        width: 17px;
      }
    }
  }

  .all-products-button {
    align-self: center;
    width: 182px;
    height: 48px;
    border-radius: 5px;
    border: 3px solid $color-black;
    box-sizing: border-box;
    padding: 15px 45px 15px 45px;
    color: $color-black;
    text-decoration: none;
    background: linear-gradient(to right, $color-black 50%, $color-white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;

    @include for-size(media-lg) {
      margin-top: 125px;
      margin-bottom: 125px;
    }

    &:hover {
      color: $color-white;
      background-position: left bottom;
    }

    &:active {
      background: $color-kraftpaper;
      border: 3px solid $color-kraftpaper;
    }
  }
}

/**************************************************** SECTION "ENTDECKE UNSERE KAFFEE SORTEN" - MAIN PAGE - END ****************************************************/

/**************************************************** SECTION "HERKUNFT" - MAIN PAGE - BEGINNING ****************************************************/

.origin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;

  //min-height für alte kleine Phones fehlt noch

  color: $color-white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imgs/FEND-Coffee-bags-2.png);
  //background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include for-size(media-lg) {
    //height: auto;
  }

  h3 {
    width: 129px;
    height: 38px;
    font-style: normal;
    font-weight: 900;
    font-size: $h3-mobile;
    line-height: 37px;
    margin-top: 0;

    @include for-size(media-lg) {
      width: 169px;
      height: 49px;
      font-size: $h3-desktop;
      line-height: 49px;
    }
  }

  p {
    width: 241px;
    height: 68px;
    font-size: $body-text-mobile;
    line-height: 18px;
    text-align: center;

    @include for-size(media-lg) {
      width: 306px;
      height: 96px;
      font-size: $body-text-desktop;
      line-height: 24px;
    }
  }

  .more-link {
    text-decoration: none;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    font-size: $body-text-mobile;
    line-height: 18px;

    @include for-size(media-lg) {
      width: 50px;
      height: 20px;
      font-size: $body-text-desktop;
      line-height: 24px;
    }
  }
}

/**************************************************** SECTION "HERKUNFT" - MAIN PAGE - END ****************************************************/

/**************************************************** SECTION "DAS STECKT DRIN - MAIN PAGE - BEGINNING ****************************************************/

.in-there {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 604px;
  margin: 60px auto 0 auto;

  @include for-size(media-lg) {
    width: 50%;
    height: auto;
  }

  h2 {
    font-size: $h2-mobile;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
    margin: 0;
    width: 245px;
    height: 34px;

    @include for-size(media-lg) {
      font-size: $h2-desktop;
      width: 100%;
      height: auto;
    }
  }

  .coffee-image-container {
    width: 214px;
    height: 284px;
    margin-top: 35px;

    @include for-size(media-lg) {
      align-self: flex-start;
      width: 50%;
      margin: 0;
    }

    .coffee-image {
      max-width: 100%;

      @include for-size(media-lg) {
      }
    }
  }

  .logo-container {
    display: flex;
    margin: 44px 0 0 0;

    @include for-size(media-lg) {
      align-self: flex-end;
      flex-direction: column;
      width: 50%;
      //height: 50%;
      margin: 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 15px 0 0;
    }

    .logo-cup {
      width: 45.31px;
      height: 45.8px;
    }

    .logo-cup-text {
      font-size: $body-text-mobile;
      line-height: 18px;
      text-align: center;
      width: 87px;
    }

    .logo-shovel {
      width: 45.31px;
      height: 45.8px;
    }

    .logo-shovel-text {
      font-size: $body-text-mobile;
      line-height: 18px;
      text-align: center;
      width: 87px;
    }

    .logo-plant {
      width: 45.31px;
      height: 45.8px;
    }

    .logo-plant-text {
      font-size: $body-text-mobile;
      line-height: 18px;
      text-align: center;
      width: 87px;
    }
  }

  .to-shop-button {
    width: 163px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid $color-anthrazit;
    box-sizing: border-box;
    padding: 15px 45px 15px 45px;
    color: $color-white;
    text-decoration: none;
    background-color: $color-anthrazit;
    margin: 40px 0 0 0;

    &:hover {
      border: 2px solid $color-mediumgrey;
      background-color: $color-mediumgrey;
    }

    &:active {
      border: 2px solid $color-kraftpaper;
      background-color: $color-kraftpaper;
    }
  }
}

/**************************************************** SECTION "DAS STECKT DRIN - MAIN PAGE - END ****************************************************/

/**************************************************** SECTION "KOMM VORBEI" - MAIN PAGE - BEGINNING ****************************************************/

.come-over {
  width: 100%;
  height: 300px;
  margin: 70px 0 0 0;

  @include for-size(media-lg) {
    height: 484px;
  }

  h2 {
    font-size: $h2-mobile;
    font-weight: 900;
    line-height: 34px;
    width: 216px;
    margin: 0 136px 0 24px;
  }

  .map {
    width: 100%;
    height: 231px;
    margin: 35px 0 0 0;
    border: 0;

    @include for-size(media-lg) {
      height: 415px;
    }
  }
}

/**************************************************** SECTION "KOMM VORBEI" - MAIN PAGE - END ****************************************************/

/**************************************************** FOOTER - MAIN PAGE - BEGINNING ****************************************************/

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 370px;
  background-color: $color-black;
  color: $color-white;

  @include for-size(media-lg) {
    flex-direction: row;
    height: 443px;
  }

  .test {
    @include for-size(media-lg) {
      display: flex;
      flex-direction: column;
      width: 25%;
      margin: 0;
    }

    .footer-logo {
      width: 35px;
      height: 35px;
      margin: 61px 0 0 22px;

      @include for-size(media-lg) {
        width: 69.95px;
        height: 70px;
        margin: 125px 0 0 112px;
      }
    }

    .footer-heading {
      width: 82px;
      height: 28px;
      font-size: $h3-mobile;
      font-weight: 900;
      line-height: 28.13px;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        font-size: $h3-desktop;
        line-height: 49.22px;
        width: 142.9px;
        height: 49px;
        margin: 16px 0 0 100px;
      }
    }

    .footer-subheading {
      width: 124px;
      height: 21px;
      font-size: 18px;
      line-height: 21.09px;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        font-size: $body-text-desktop;
        line-height: 49.22px;
        width: 142, 9px;
        height: 49px;
        margin: 14px 0 0 100px;
      }
    }
  }

  .address-and-times {
    display: flex;
    margin: 0 0 40px 0;

    @include for-size(media-lg) {
      flex-direction: column;
      justify-content: center;
      margin: 0;
      width: 25%;
    }

    .address {
      width: 156px;
      height: 32px;
      font-style: normal;
      font-weight: normal;
      font-size: $body-text-mobile;
      line-height: 18px;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        width: auto;
        height: unset;
        font-size: $body-text-desktop;
        margin: 125px 0 0 22px;
      }
    }

    .times {
      width: 153px;
      height: 32px;
      font-style: normal;
      font-weight: normal;
      font-size: $body-text-mobile;
      line-height: 18px;
      margin: 0 1px 0 0;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        width: auto;
        height: unset;
        font-size: $body-text-desktop;
        margin: 27px 0 0 22px;
      }
    }
  }

  .footer-links {
    display: flex;
    margin: 0 0 40px 0;
    font-size: $body-text-mobile;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;

    @include for-size(media-lg) {
      font-size: $body-text-desktop;
      margin: 0;
      align-items: center;
      width: 50%;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .impr-and-privacy {
      width: 156px;
      height: 32px;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        width: auto;
        height: auto;
        margin: auto;
        line-height: 18px;
      }
    }

    .site-links {
      width: 153px;
      height: 32px;
      margin: 15px 0 0 22px;

      @include for-size(media-lg) {
        width: auto;
        height: auto;
        margin: 40px 0 0 0;
      }
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}

/**************************************************** FOOTER - MAIN PAGE - END ****************************************************/

/**************************************************** MAIN PAGE END ****************************************************/

/**************************************************** "DAS CAFÉ" PAGE - BEGINNING ****************************************************/

/**************************************************** HEADER - SUBPAGE "DAS CAFÉ" - BEGINNING ****************************************************/

.header-thecafe {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/FEND-Coffee-shop.png); /*image still scaling dumb*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-white;

  @include for-size(media-xxl) {
    height: 65vh;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;

    @include for-size(media-lg) {
      display: none; //sollte über visibility
    }

    .main-logo {
      margin-left: 24px;
      width: 35px;
      height: 35px;
    }

    .burger-menu {
      margin-right: 25.5px;
      width: 23.5px;
      height: 12.5px;
      cursor: pointer;
    }
  }

  .desktop-menu {
    display: none;

    @include for-size(media-lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      overflow: hidden;
      padding: 0;
      width: 100%;
      height: 55px;
    }

    .main-logo {
      margin-left: 103px;
      width: 35px;
      height: 35px;
    }

    li {
      width: 72px;
      height: 21px;
      margin: 0 100px 0 0;

      & a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        color: $color-white;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background: #fff;
          transition: width 0.2s ease;
          -webkit-transition: width 0.2s ease;
        }

        &:hover:after {
          width: 60%;
          left: 0;
          background: #fff;
        }
      }
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $color-black;
    overflow-x: hidden;
    transition: 0.5s;

    & ul {
      margin-top: 251px;
      margin-left: 60px;
      padding: 0;
      transition: 0.5s;

      & li {
        width: 127px;
        height: 38px;
        list-style: none;

        & a {
          font-style: normal;
          font-weight: 900;
          font-size: $h3-mobile;
          line-height: 21px;
          text-decoration: none;
          color: $color-white;
        }
      }
    }
    
    .close-burger-menu {
      width: 23.5px;
      height: 12.5px;
      padding: 21px 24.5px 0 0;
      cursor: pointer;
      align-self: flex-end;
    }
  }

  .main-heading {
    width: 218px;
    height: 75px;
    margin: 140px 0 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: $h1-mobile;
    line-height: 75px;
    text-align: center;

    @include for-size(media-lg) {
      width: 327px;
      height: 110px;
      //margin: 80px 0 0 0;
      font-size: $h1-desktop;
      line-height: 110px;
    }
  }

  .sub-heading {
    width: 174px;
    height: 21px;
    margin: 5px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: $body-text-mobile;
    line-height: 21px;
    text-align: center;

    @include for-size(media-lg) {
      font-size: $body-text-desktop;
    }
  }

  .to-shop-button {
    width: 163px;
    height: 48px;
    margin: 100px 0 0 0;
    border-radius: 5px;
    border: 2px solid $color-anthrazit;
    box-sizing: border-box;
    padding: 15px 45px 15px 45px;
    color: $color-white;
    text-decoration: none;
    background-color: $color-anthrazit;

    &:hover {
      border: 2px solid $color-mediumgrey;
      background-color: $color-mediumgrey;
    }

    &:active {
      border: 2px solid $color-kraftpaper;
      background-color: $color-kraftpaper;
    }
  }
}

/**************************************************** HEADER - SUBPAGE "DAS CAFÉ" - END ****************************************************/

/**************************************************** SECTION "RÖSTEREI & CAFÉ" - SUBPAGE "DAS CAFÉ" - BEGINNING ****************************************************/

.roasting-and-coffeeshop-thecafe {
  display: flex;
  flex-direction: column;
  //min-width: 327px;
  width: 90vw;
  height: 382px;
  margin: 60px auto 0 auto;

  @include for-size(media-lg) {
    flex-direction: row;
    height: auto;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;

    @include for-size(media-lg) {
      width: 50%;
      min-height: 100%;
      margin: 0;
    }

    h2 {
      font-size: $h2-mobile;
      font-weight: 900;
      line-height: 34px;
      margin: 0 72px 20px 0;

      @include for-size(media-lg) {
        margin: 0 72px 20px 5px;
        font-size: $h2-desktop;
        line-height: 56px;
      }
    }

    .info {
      font-style: normal;
      font-weight: normal;
      font-size: $body-text-mobile;
      width: 327px;
      height: 54px;
      line-height: 18px;
      margin: 0 0 20px 0;

      @include for-size(media-lg) {
        font-size: $body-text-desktop;
        width: 507px;
        height: 48px;
        line-height: 24px;
      }
    }

    .address-and-times {
      display: flex;

      .address {
        width: 156px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: $body-text-mobile;
        line-height: 18px;
        margin: 0 17px 0 0;

        @include for-size(media-lg) {
          width: 298px;
          height: 42px;
          font-size: $body-text-desktop;
          line-height: 24px;
        }
      }

      .times {
        width: 153px;
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: $body-text-mobile;
        line-height: 18px;
        margin: 0 1px 0 0;

        @include for-size(media-lg) {
          font-size: $body-text-desktop;
          width: 154px;
          height: 40px;
          line-height: 24px;
        }
      }
    }
  }

  .shop-image-container {
    align-self: flex-end;
    width: 241px;
    height: 182px;

    .shop-image {
      max-width: 100%;

      @include for-size(media-lg) {
        //height: 391px;
      }
    }

    @include for-size(media-lg) {
      align-self: flex-start;
      width: 50%;
      height: 100%;
    }
  }
}

/**************************************************** SECTION "RÖSTEREI & CAFÉ" - SUBPAGE "DAS CAFÉ" - END ****************************************************/

/**************************************************** SECTION "FRISCHES GEBÄCK VON NEBENAN" - SUBPAGE "DAS CAFÉ" - BEGINNING ****************************************************/

.fresh-pastries {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;

  @include for-size(media-lg) {
    align-items: center;
  }

  h3 {
    width: 273px;
    height: 70px;
    margin: 0;
    padding: 0 0 0 24px;
    font-style: normal;
    font-weight: 900;
    font-size: $h3-mobile;
    line-height: 37px;

    @include for-size(media-lg) {
      width: 349px;
      height: 91px;
      font-size: $h3-desktop;
    }
  }

  p {
    width: 327px;
    height: 223px;
    margin: 20px 0 0 0;
    padding: 0 0 0 24px;
    font-style: normal;
    font-weight: normal;
    font-size: $body-text-mobile;
    line-height: 18px;

    @include for-size(media-lg) {
      width: 611px;
      height: 192px;
      font-size: $body-text-desktop;
    }
  }
}

/**************************************************** SECTION "FRISCHES GEBÄCK VON NEBENAN" - SUBPAGE "DAS CAFÉ" - END ****************************************************/

/**************************************************** SECTION "IMAGE GALLERY" - SUBPAGE "DAS CAFÉ" - BEGINNING ****************************************************/

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 156px);

  grid-template-areas:
    "img1 img2"
    "img3 img2"
    "img5 img4"
    "img5 img6"
    "img7 img6"
    "img7 img8";

  grid-gap: 14px;
  width: 90%;
  margin: 48px auto;

  .grid-image {
    display: block;
    width: 100%;
    height: 100%; //das muss wieder weg und eine gute Lösung her..

    &.item1 {
      grid-area: img1;
    }

    &.item2 {
      grid-area: img2;
    }

    &.item3 {
      grid-area: img3;
    }

    &.item4 {
      grid-area: img4;
    }

    &.item5 {
      grid-area: img5;
    }

    &.item6 {
      grid-area: img6;
    }

    &.item7 {
      grid-area: img7;
    }

    &.item8 {
      grid-area: img8;
    }
  }
}

/**************************************************** SECTION "IMAGE GALLERY" - SUBPAGE "DAS CAFÉ" - END ****************************************************/

/**************************************************** "DAS CAFÉ" PAGE - END ****************************************************/
