@import "variables";
@import "base";
@import "components/hero";

:root {
  --div-color: red;
}

.mobile-nav {
  width: 375px;
  height: 55px;

  .main-logo {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 24px;
  }

  .burger-menu {
    position: absolute;
    width: 23,5px;
    height: 12,5px;
    top: 21px;
    left: 327px;
  }
}

.header {
  width: 376px;
  height: 75%;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  z-index: -1;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imgs/FEND-Coffee-latte-art-3.png);
  background-repeat: no-repeat;

  color: $color-white;

  @media (min-width: $breakpoint-large-devices) {
    height: 65%;
  }
  

  .main-heading-mobile {
    position: absolute;
    font-weight: 900;
    font-size: 64px;
    width: 218px;
    height: 75px;
    top: 193px;
    left: 78px;
  }

  .sub-heading-mobile {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    width: 218px;
    height: 75px;
    top: 268px;
    left: 100px;
  }

  .to-shop-button {
    position: absolute;
    width: 163px;
    height: 48px;
    top: 392px;
    left: 106px;
    border-radius: 5px;
    border: 2px solid $color-anthrazit;
    box-sizing: border-box;
    padding: 15px 45px 15px 45px;
    color: $color-white;
    text-decoration: none;
    background-color: $color-anthrazit;

    &:hover {
      border: 2px solid $color-mediumgrey;
      background-color: $color-mediumgrey;
    }

    &:active {
      border: 2px solid $color-kraftpaper;
      background-color: $color-kraftpaper;
    }
  }
}

.roasting-and-coffeeshop{
  position: absolute;
  width: 327px;
  height: 382px;
  left: 24px;
  top: 560px;

  h2 {
    font-size: $h2-mobile;
    font-weight: 900;
    line-height: 34px;
  }

  .address-and-times {
    overflow: hidden;

    .address {
      font-size: $body-text-mobile;
      line-height: 18px;
      float: left;
    }

    .times {
      font-size: $body-text-mobile;
      line-height: 18px;
      float: right;
    }
  }

  .coffee-shop-image {
    position: absolute;
    width: 241px;
    height: 182px;
    background: url(../imgs/FEND-Coffee-shop.png);
    background-repeat: no-repeat;
    left: 86px;
    top: 200px;
  }
}

.bio-and-fair{
  position: absolute;
  width: 327px;
  height: 340px;
  left: 24px;
  top: 982px;

  h3 {
    font-size: $h3-mobile;
    font-weight: 900;
    line-height: 37.5px;
  }

  .coffee-plant-image {
    position: absolute;
    width: 241px;
    height: 182px;
    background: url(../imgs/FEND-coffee-plant.png);
    background-repeat: no-repeat;
    right: 86px;
    top: 180px;
  }
}

.bio-and-fair{
  position: absolute;
  width: 327px;
  height: 340px;
  left: 24px;
  top: 982px;

  h3 {
    font-size: $h3-mobile;
    font-weight: 900;
    line-height: 37.5px;
  }
}

.sorts {
  position: absolute;
  width: 375px;
  height: 910px;
  background-color: $color-anthrazit;
  right: 0;
  top: 1382px;

  .section-sorts-heading {
    color: white;
    position: absolute;
    width: 309px;
    height: 68px;
    left: 21px;
    top: 60px;
  }

  h2 {
    font-size: $h2-mobile;
    font-weight: 900;
    line-height: 34px;
  }
}

